<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/css/reset.css">
    <link rel="stylesheet" href="/public/assets/css/home.css">
    <title>Quizz - TTSF</title>
</head>
<body>
    <section class="main">
        <img src="/public/assets/img/botafogo-logo-0-1536x1536.png" alt="bfrlogo">
        <h1>Time to set fire</h1>
        <p>Quizz</p>
        <form action="/quizz" method="POST" class="form">
            <label for="">Qual o seu nome torcedor?</label>
            <input type="text" name="name" class="inputName">
            <button type="submit" class="btn">Iniciar Quizz</button>
        </form>
    </section>
</body>
</html>