@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Montserrat:wght@200;300;400;500;600&family=Roboto:wght@100;300;500;700&display=swap');

:root {
    --font-main: 'Montserrat', sans-serif;
    --font-secundary: 'Dancing Script', cursive;
    --color-background: #1F2024;
    --color-main: #A68F97;
    --color-emphasis: #004F4D; 
}



.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.main > .form {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.main > .form > p {
    text-align: center;
    color: #fff;
}

.main > h1 {
    font-family: var(--font-main);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-main);
    text-shadow: 0px 4px 5px #000000;
    font-size: 2em;
    padding: 2em;

}

.main > p {
    font-family: var(--font-main);
    color: var(--color-main);
    font-size: 2em;
    font-weight: bold;

}

.main > .linkDeveloper {
    display: none;
    font-size: 1em;
    font-family: var(--font-main);
    color: var(--color-main);
}

.main > .linkDeveloper > a {
    text-decoration: none;
    color: var(--color-emphasis);
    font-family: var(--font-main);
    font-weight: bolder;
}


.main > .form > .quizzGame > label {
    font-family: var(--font-main);
    color: #fff;
    padding: 1em;
}

.main > .form > .quizzGame > input {
    padding: 1em 0.5em;
    color: var(--color-background);
}

.main > .form > .quizzOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.main > .form > .quizzTwo {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main > .form > .quizzTwo > button {
    padding: 1em 0.7em;
    margin-top: 1em;
    background: var(--color-main);
    color: var(--color-emphasis);
    border: none;
    font-family: var(--font-main);
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
}



.main > .form > .quizzThree {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main > .form > .quizzThree > button {
    padding: 1em 0.7em;
    margin-top: 1em;
    background: var(--color-main);
    color: var(--color-emphasis);
    border: none;
    font-family: var(--font-main);
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
}


.main > .form > .quizzFour {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main > .form > .quizzFour > button {
    padding: 1em 0.7em;
    margin-top: 1em;
    background: var(--color-main);
    color: var(--color-emphasis);
    border: none;
    font-family: var(--font-main);
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
}


.main > .form > .quizzFive {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main > .form > .quizzFive > button {
    padding: 1em 0.7em;
    margin-top: 1em;
    background: var(--color-main);
    color: var(--color-emphasis);
    border: none;
    font-family: var(--font-main);
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
}

.main > .form > .quizzGame > .btn {
    padding: 1em 0.7em;
    margin-top: 1em;
    background: var(--color-main);
    color: var(--color-emphasis);
    border: none;
    font-family: var(--font-main);
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
}

.main > .form > .quizzGame > .btn:hover{
    background: var(--color-emphasis);
    color: var(--color-main);
    transition: 2s;
}

.main > .form > .restartquizz {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main > .form > .restartquizz > p {
    color: #fff;
    margin-top: 1em;
}

.main > .form > .restartquizz > .wins {
    font-family: var(--font-main);
    background: var(--color-emphasis);
    color: #fff;
    font-size: 2em;
}

.main > .form > .restartquizz > .fails {
    font-family: var(--font-main);
    background: #a80202;
    color: #fff;
    font-size: 2em;
}

.main > .form > .restartquizz >  a {
    padding: 1em 0.7em;
    margin-top: 1em;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-family: var(--font-main);
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--color-emphasis);
    background: var(--color-main);
}

